.container{

    height: fit-content;
    border: 1px solid black;
    padding: 1rem;
    h1{
        font-size: 5rem;
        text-align: center;
        font-family: var(--comic-font);
        color: rgb(247, 76, 20);
    }

    .skills{
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        align-items: center;
        flex-wrap: wrap;
        .iconBox{
            // border: 1px solid black;
            text-align: center;
            margin: 0.5rem;
            padding: 1rem;
            p{
                font-family: var(--content-font);
            }
        }

    }

}